* {
    --primary-color: #454372;
    --secondary-color: #70877f;
    --background-light-color: #F0F0F0;
    --accent1-color: #ffffff;
    --accent2-color: #f77c73;
    --accent3-color: #d3d3d3;
    --font-bright: #fff;
    --font-dark: #000;

    --form-bg-color: #eee;
    --form-placeholder-color: #ddd;

    --title-font: "Montserrat", sans-serif;
    --paragraph-font: "Roboto", sans-serif;
}

body {
    max-width: 1500px;
    margin: auto;
    background-color: #555;
}

main {
    background-color: #fff;
    padding-bottom: 2em;
}

/* ========== HEADER STYLING ========== */

header {
    display: grid;
    grid-template-columns: 80px auto 44px;
    background-color: var(--primary-color);
    color: var(--font-bright);
}

header img {
    align-self: center;
}

header h1, header p {
    grid-column: 2/3;
}

header h1 {
    margin: 0;
    grid-row: 1/2;
    padding: 1em 0;
    font-family: var(--title-font);
}

header p {
    padding: 0;
    margin: 0;
    grid-row: 1/2;
    align-self: flex-end;
    padding: .5em;
    font-size: larger;
    color: hsl(0, 1%, 86%);
}

/* ========== SECTION CARD STYLING ========== */

.card {
    background-color: var(--background-light-color);
    margin: 1em auto 0;
    padding: 0;
    text-align: center;
    font-family: var(--paragraph-font);
}

.card h2 {
    padding: .5em;
    background-color: var(--secondary-color);
}

.card img {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 0;
}

.card#info ul, .card#events ul  {
    list-style-type: none;
    padding: 1em;
    text-align: center;
}

#weather-icon {
    display: flex;
}

ul#display-3d-forecast {
    padding: 0;
    margin: 0;
}

#weather-icon, #display-forecast img, #display-3d-forecast img{
    width: 3rem;
    margin-bottom: -.6em;
}

#display-forecast figure, #display-3d-forecast figure{
    padding: 0;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid black;
}

.card#info h3 {
    padding: 0;
    margin: 0;
}

/* ========== HERO IMGAGE STYLING ========== */

.hero-image {
    max-width: 100%;
    text-align: center;
    position: relative;
}

.hero-image img{
    object-fit: cover;
    width: 100%;
    height: 500px;
} 

.hero-image a {
    font-family: var(--paragraph-font);
    color: var(--font-bright);
    background-color: rgb(0, 0, 0, 60%);
    font-weight: 800;
    font-size: 1.5rem;
    border-radius: 1em;
    padding: .8em;
    margin: 1em;
    text-decoration: none;
    text-shadow: 1px 2px 1px #e6cf00;
    position: relative;
    bottom: 150px;
}

/* ========== FOOTER STYLING ========== */

footer {
    background-color: var(--accent3-color);
    padding: 1em;
    font-family: var(--paragraph-font);
    text-align: center;
    border-top: 5px solid var(--primary-color);
}



/* ========== NAVIGATION STYLING ========== */

nav {
    background-color: var(--primary-color);
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: var(--font-bright);
    text-decoration: none;
    text-align: center;
    margin: 0;
    font-family: var(--paragraph-font);
}

ul.menuLinks {
    padding: 0 2em;
    margin: 0;
    list-style-type: none;
}

nav a:hover {
    text-shadow: 0 2px 2px #fff;
    background-color: rgb(255, 255, 255, 0.2);
}

nav a:active {
    color: rgb(159, 159, 159);
}

nav ul.menuLinks a.active {
    color: #e6cf00;
}

#menu {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5em;
    border: none;
    padding: .5em .65em;
    margin: 0;
    background-color: var(--primary-color);
    color: var(--font-bright);
}

#menu::before {
	content: "☰"; /* "\2630" */
}
#menu.open::before {
    content: "✕";
}

/* ========== DIRECTORY PAGE ========== */

.maindirectory {
    margin: auto;
}

.maindirectory h2 {
    text-align: center;
    padding: 1em;
    color: var(--font-dark);
    background-color: var(--secondary-color);
    box-shadow: 1px 2px .3em 1px;
    margin: 1em;
    font-family: var(--title-font);
}

#cards {
    max-width: 900px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    padding: 1em;
}

#cards section {
    background-color: var(--background-light-color);
    max-width: 400px;
    text-align: center;
    box-shadow: 0 2px .5em ;
    border-radius: 6px;
    margin-bottom: 1em;
    margin: 0 auto;
    font-family: var(--title-font);
}

#cards img {
    margin: auto;
    justify-self: auto;
}

#cards div {
    padding: .5em;
    font-family: var(--paragraph-font);
}

#cards.list h2 {
    text-align: center;
    padding: 1em;
    color: var(--font-dark);
    background-color: var(--secondary-color);
    box-shadow: 1px 2px .3em 1px;
    width: 400px;
    margin: 1em auto 0;
    font-family: var(--title-font);
}

#cards.list h3 {
    text-align: left;
    padding: 0 .5em;
    color: var(--primary-color);
    background-color: inherit;
    box-shadow: none;
    border-right: 2px solid #555;
}

#cards.list {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: .5em;
    gap: 0;
    
}

#cards.list section {
    background-color: var(--accent3-color);
    max-width: 1000px;
    display: grid;
	grid-template-columns: .3fr 1fr ;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
}

#cards.list img {
    display: none;
}

#cards.list div {
    padding: .5em;
    margin: 0 auto 0 0;
}

#cards.list section:nth-child(even) {
    background-color: var(--accent1-color);
}

/* ========== JOIN PAGE  ========== */

.memberships {
    background-color: var(--background-light-color);
    margin: auto ;
    font-family: var(--title-font);
    text-align: center;
    padding: 1.5em;
    border-radius: .5em;
}

.memberships section {
    background-color: var(--secondary-color);
    padding: 1em;
    margin: 1em;
    border-radius: .5rem;
}

.slide1 {
    animation: slideInRight 1s ease-out, fadeIn 1s ease-in;
    /* animation: fadeIn 1s ease-in; */
}

.slide2 {
    animation: slideInRight 1.5s ease-out, fadeIn 1s ease-in;
}

.slide3 {
    animation: slideInRight 2s ease-out, fadeIn 1s ease-in;
}

@keyframes slideInRight {
    from { transform: translateX(300%); }
    to { transform: translateX(0); }
}

@keyframes fadeIn {
    from { opacity: 0%; }
    to { opacity: 100%; }
}

.record {
    min-width: 200px;
    background-color: var(--background-light-color);
    font-family: var(--paragraph-font);
    margin: auto;
    padding: 1em;
}

.record h2 {
    background-color: var(--secondary-color);
    font-family: var(--title-font);
    padding: 1em;
    margin: 0;
}

#results {
    padding: 1em;
}

.record a {
    text-decoration: none;
    color: var(--font-dark);
    font-weight: 700;
}


/* ========== FORM STYLING ========== */

.wf {
    padding: .5em;
    font-family: var(--title-font);
    margin: auto;
}

.wf fieldset {
    margin: 2rem 0;
    border: 1px solid var(--form-placeholder-color);
    background-color: var(--form-bg-color);
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf legend {
    color: var(--primary-color);
    font-size: 1.2rem;
    padding: 0 .5rem;
}

.wf label {
    display: block;
    padding-top: 1rem;
    color: var(--font-dark);
    font-size: .9rem;
}

.wf div {
    padding-top: 1rem;
    color: var(--form-title-color);
    font-size: .9rem;
}

.wf input[type="text"],
.wf input[type="tel"],
.wf input[type="email"],
.wf input[type="password"],
.wf textarea
{
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    color: var(--form-font1-color);
    width: 80%;
    max-width: 400px;
    appearance: none;
    background-color: var(--accent1-color);
}

.wf input[type="radio"],
.wf input[type="checkbox"] {
    margin-right: 6px;
}

.wf input[type="submit"] {
    border: none;
    background-image: linear-gradient(#70877f, #596c65);
    color: var(--font-dark);
    font-weight: 600;
    font-size: larger;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}
.wf input[type="submit"]:hover {
    text-shadow: 1px 1px 3px #ddd;
}

.wf input[type="submit"]:active {
    background-image: linear-gradient(#596c65, #70877f);
    box-shadow: none;
}

.wf input:required {
    border-left: solid 8px red;
}

.wf input:required:valid {
    border-left: solid 8px green;
}

.record {
    margin-bottom: 100%;
}

/* ========== DIALOG STYLING ========== */

dialog {
    border-radius: .25rem;
    padding: 1em;
    background-color: var(--background-light-color);
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
    font-family: var(--paragraph-font);
}

dialog h2 {
    background-color: var(--secondary-color);
    font-family: var(--title-font);
    padding: 1em;
}

dialog li {
    padding: .8em;
}

::backdrop {
    background-color: rgb(0, 0, 0, 50%);
}

dialog button {
    position: absolute;
    top: .5em;
    right: .5em;
    padding: .5rem 1rem;
    border: 1px solid rgb(0, 0, 0, 10%);
}



