@media screen and (min-width: 650px) {
    /* main {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    } */

    #menu {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
    }

    nav {
        grid-template-rows: 1fr;
    }

    /* .homemain {
        display: grid;
        max-width: 100%;
        margin: 0;
    } */

    .hero-img {
        width: auto;
        
    }

    .hero-img a {
        font-size: 2rem;
    }
}