* {
    --primary-color: #454372;
    --secondary-color: #70877f;
    --background-light-color: #F0F0F0;
    --font-bright: #fff;
    --font-dark: #000;
    --title-font: "Montserrat", sans-serif;
    --paragraph-font: "Roboto", sans-serif;
}

h1 {
    background-color: var(--primary-color);
    color: var(--font-bright);
    font-family: var(--title-font);
    padding: .5em 1.8em .5em 1em;
    margin: 0;
}

/* ========== NAVIGATION STYLING ========== */

nav {
    background-color: var(--primary-color);
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: var(--font-bright);
    text-decoration: none;
    text-align: center;
    margin: 0;
    font-family: var(--paragraph-font);
}

ul.menuLinks {
    padding: 0 2em;
    margin: 0;
    list-style-type: none;
}

nav a:hover {
    text-shadow: 0 2px 2px #fff;
    background-color: rgb(255, 255, 255, 0.2);
}

nav a:active {
    color: rgb(159, 159, 159);
}

nav ul.menuLinks a.active {
    color: #e6cf00;
}

#menu {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5em;
    border: none;
    padding: .5em .65em;
    margin: 0;
    background-color: var(--primary-color);
    color: var(--font-bright);
}

#menu::before {
	content: "☰"; /* "\2630" */
}
#menu.open::before {
    content: "✕";
}

h2 {
    margin:0;
    background-color: var(--secondary-color);
    padding: 1em .5em .5em;
    font-family: var(--title-font);

}

/* ========== CARDS STYLING ========== */

.card {
    background-color: var(--background-light-color);
    margin: 1em auto 0;
    padding: 0;
    text-align: center;
    font-family: var(--paragraph-font);
}

.card img {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 0;
    animation: fade 1s;
}

.card#info ul {
    list-style-type: none;
    padding: 1em;
    text-align: center;
}

#weather-icon {
    display: flex;
}

#weather-icon, #display-forecast img, #display-3d-forecast img{
    width: 3rem;
    margin-bottom: -.6em;
}

#display-forecast figure, #display-3d-forecast figure{
    padding: 0;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid black;
    
}

/* ========== FOOTER STYLING ========== */

footer {
    background-color: var(--background-light-color);
    margin-top: 1em;
    padding: 1em;
    color: var(--font-dark);
    font-family: var(--paragraph-font);
    font-weight: 300;
    text-align: center;
}

#lastModified {
    color: #7e5000;
}

/* ========== COURSES LIST STYLING ========== */

#courseList {
    padding: 1em;
    margin: 0;
}

#courseList li {
    list-style: none;
    padding: 1em;
    background-color: #A62639;
    margin: .5em auto;
    border-radius: .5em;
    border: solid 2px black;
    font-weight: 500;
    color: var(--font-bright);
}

#courseList li.completed {
    background-color: #5B6579;
}

button {
    background-color: var(--background-light-color);
    padding: .5em;
    margin: .5em .5em 0;
    border-radius: 3px;
}

#reqCredits {
    margin: 0;
    padding-bottom: 1em;
    font-weight: 500;
}

/* ========== MODALS STYLING ========== */

dialog {
    border-radius: .25rem;
    padding: 1em;
    background-color: var(--background-light-color);
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
    font-family: var(--paragraph-font);
}

::backdrop {
    background-color: rgb(0, 0, 0, 50%);
}

dialog button {
    position: absolute;
    top: .5em;
    right: .5em;
    padding: .5rem 1rem;
    border: 1px solid rgb(0, 0, 0, 10%);
}

/* ========== ANIMATIONS STYLING ========== */

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}